<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apocalypse.cloudpartybuilding.mapper.CpbNewsCommentMapper">
  <resultMap id="BaseResultMap" type="apocalypse.cloudpartybuilding.pojo.CpbNewsComment">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="news_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="last_comment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, content, date, news_id, last_comment_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cpb_news_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByNewsId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cpb_news_comment
    where news_id=#{news_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cpb_news_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="apocalypse.cloudpartybuilding.pojo.CpbNewsComment">
    insert into cpb_news_comment (id, user_id, content, 
      date, news_id, last_comment_id
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE}, #{newsId,jdbcType=VARCHAR}, #{lastCommentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="apocalypse.cloudpartybuilding.pojo.CpbNewsComment">
    insert into cpb_news_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="content != null">
        content,
      </if>

        date,

      <if test="newsId != null">
        news_id,
      </if>
      <if test="lastCommentId != null">
        last_comment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>

          date(now()),

      <if test="newsId != null">
        #{newsId,jdbcType=VARCHAR},
      </if>
      <if test="lastCommentId != null">
        #{lastCommentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="apocalypse.cloudpartybuilding.pojo.CpbNewsComment">
    update cpb_news_comment
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="newsId != null">
        news_id = #{newsId,jdbcType=VARCHAR},
      </if>
      <if test="lastCommentId != null">
        last_comment_id = #{lastCommentId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="apocalypse.cloudpartybuilding.pojo.CpbNewsComment">
    update cpb_news_comment
    set user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      news_id = #{newsId,jdbcType=VARCHAR},
      last_comment_id = #{lastCommentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>